

html{
    background-color:   #BEFAFA;
    background-image:   url("../img/bkrnd-blue.png");
    background-repeat:  repeat;
    background-size:    300px;
}

body {
  font-family:        "Open Sans Condensed";
  font-size:          16px;
  font-weight:        300;
  line-height:        1.4;
  letter-spacing:     0.5px;
}

#title{
  border:             solid transparent;
  width:              max-content;
  background-color:   rgba(190, 250, 250, .96);
  overflow:           hidden;
  margin:             10px;
  padding:            15px;
  border-radius:      20px;
}

h1 {
  font-weight:        bold;
  font-size:          350%;
  font-family:        Brush Script MT, Brush Script Std, cursive;
  word-spacing:       5px;
  letter-spacing:     1px;
  color:              #000000;
  margin:             5px 5px 5px 5px;
}

h2, h3 {
  font-family:        "Special Elite";
  color:              #005575;
  padding:            5;
  margin-bottom:      5px;
  font-size:          35px;
  font-weight:        300;
  letter-spacing:     2px;
  text-decoration:    underline;
  line-height:        1.5;
}

a {
  /* turns off underlining links */
  text-decoration: none;
  text-transform: uppercase;
  /* same as #808080 */
  color: #888;
  font-weight: bold;
  /* set font-size at 90% of default */
  font-size: 90%;
}

.reveal {
  /*width:100%;
  text-align: right;*/
  float: right;
  position: relative;
  top: -15px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 75%;
}

/* Biographical style elements */

/* when an element is referenced by class, it starts with a dot */
main, .major-section, #content {
  border: solid       2px black;
  padding:            10px 30px 10px 30px;
  margin:             20px;
  margin-top:         30px;
  background-color:   #fff;
}

/* #wrapper and #content-x is used for wrapping content ONLY */
#wrapper {
  border:             solid transparent;
  background-color:   transparent;
  overflow:           hidden;
  margin:             20px;
  margin-top:         35px;
}

#content-left {
  display:            inline-block;
  border:             solid 2px black;
  width:              60%;
  height:             430px;
  background-color:   #fff;
  padding:            10px 25px 10px 25px;
}

#content-right {
  display:            inline-block;
  border:             solid 2px black;
  width:              30%;
  height:             430px;
  background-color:   #fff;
  padding:            10px 25px 10px 25px;
  float:              right;
}

img {
  border: solid #19d2e3 2px;
  margin: 10px;
}

#title {
  font-weight: bold;
  font-size: 120%;
  color: #404040;
  margin-bottom: 5px;
}

.center {
  display:            block;
  margin-left:        auto;
  margin-right:       auto;
  align-content:      center;
  text-align:         center;
  align-items:        center;
  width:              max-content;
}

/* .bold is a div applicable to any item with text */
.bold{
  font-family:        "Open Sans Condensed";
  font-size:          15px;
  font-weight:        700;
  line-height:        1.5;
  color:              #404040;
}

bold {
  font-family:        "Open Sans Condensed";
  font-size:          20px;
  font-weight:        700;
  line-height:        1.5;
  color:              #404040;
}
